body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #9d8189;
  color: #ffcad4;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: #f4acb7;
  width: 100%;
  border-radius: 0px;
}

.login {
  background-color: #ffcad4;
  border-radius: 8px;
}

  .registerBtn {
   background-color: #ffcad4;
   border-radius: 8px;
}

.lead {
  font-family: monospace;
  text-align: center;
}

.register_form {
  font-family: monospace;
}

.btn {
  font-family: monospace;
  background-color: #d8e2dc;
}

.register {
  font-family: monospace;
}

.password {
  font-family: monospace;
  padding-left: 20px;
}

.username {
  font-family: monospace;
  padding-left: 20px;
}

.allFoods {
  font-family: monospace;
}

.home {
  font-family: monospace;
}

.viewAll {
  font-family: monospace;
}

.sendTextBtn {
  font-family: monospace;
  background-color: #ffcad4;
  text-align: center;
  padding-left: 200px;
  text-align: center;
}
.newFoodButton {
  font-family: monospace;
  background-color: #ffcad4;
  color: white;
  text-align: center;
  padding-left: 20px;
}

.logOut {
  font-family: monospace;
  background-color: #ffcad4;
  color: white;
  text-align: center;
  padding-left: 20px;
}

.foodInput {
  font-family: monospace;
  padding-left: 20px;
}
.expirationText {
  font-family: monospace;
  padding-left: 20px;
}
.nameText {
  font-family: monospace;
  padding-left: 20px;
}
.daysInput {
  font-family: monospace;
  padding-left: 20px;
}
.userInput {
  font-family: monospace;
}
.userRegInput {
  font-family: monospace;
}
.infoFoods {
  font-family: monospace;
}
.tHead {
  font-family: monospace;
}
.listBtns {
  font-family: monospace;
  background-color: #d8e2dc;
}
.wasteAll {
  font-family: monospace;
}
.cellInput {
  font-family: monospace;
}
.md-button {
  border-radius: 10px;
}
.btn {
  border-radius: 4px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}