<div ng-include="'views/partials/nav.html'"></div>

<div class="container">

  <p class="allFoods"></p>

  <table>
    <thead class="tHead">
      <th>Food |</th>
      <th># of days |</th>
      <th> |</th>
      <th>Waste |</th>
    </thead>

    <tbody>

      <tr class="infoFoods" ng-repeat="x in ic.myFoodColl | filter : (wasted: false)">
        <td>{{ x.food }} </td>
        <td>{{ x.days }}</td>

        <td>
          <button ng-click="ic.wasteFoodFunc(x._id)" class="listBtns">Wasted =(</button>
        </td>
        <td>
          <button ng-click="ic.devourFood(x._id)" class="listBtns">Devoured!</button>
        </td>

      </tr>

    </tbody>
  </table>

  <table>
    <thead class="tHead">
      <th>Food Waste |</th>
      <th>Date |</th>
    </thead>

    <tbody>
      <tr class="infoFoods" ng-repeat="x in ic.myFoodColl | filter : (wasted: true)">
        <td>{{ x.food }}</td>
        <td>{{ x.days }}</td>


      </tr>
    </tbody>
  </table>
  </p>
</div>