<div ng-include="'views/partials/nav.html'"></div>

<div class="container">

  <p class="allFoods"></p>

  <table>
    <thead class="tHead">
      <th>Food |</th>
      <th># of days |</th>
      <th>Waste |</th>
      <th>Devour |</th>
    </thead>

    <tbody>

      <tr class="infoFoods" ng-repeat="x in ic.myFoodColl | filter : {wasted: false}">

        <td>{{ x.food }} </td>
        <td>{{ x.days }}</td>

        <td>
          <md-button ng-click="ic.wasteFoodFunc(x)" class="listBtns">Wasted =( </md-button>
        </td>
        <td>
          <md-button ng-click="ic.devourFood(x._id)" class="listBtns">Devoured!</md-button>
        </td>

      </tr>

    </tbody>
  </table>

  <table>
    <thead class="tHead">
      <th>Food Waste |</th>
      <th>Date |</th>
    
    </thead>

    <tbody>
      <tr class="infoFoods" ng-repeat="x in ic.myFoodColl | filter : {wasted:true}" >

        <td>{{ x.food }}</td>
        <td>{{ x.date | date: 'shortDate' }}</td> 

      </tr>
    </tbody>
  </table>
  </p>
</div>