<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Namaste & Happy Eating, {{uc.userObject.userName}}!</h1>

    <p class="nameText">Food Name : </p>
    <input class="foodInput" placeholder="food name" type="text"><br>
    <p class="expirationText">Days until expiration : </p>
    <input class="daysInput" placeholder="# of days" type="text"> <br>
    <button class="newFoodButton" class="btn btn-default">Add New Food</button> <br>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
    <button class="sendTextBtn" ng-click="uc.sendText()">Send Text</button>

</div>