<div ng-include="'views/partials/nav.html'"></div>
<div ng-init="uc.clearInput()" ng-controller="UserController" class="container">

    <h1 id="welcome" class="lead">Namaste & Happy Eating, {{uc.userObject.userName}}!</h1>
    <p class="nameText">Food Name : </p>

    <!-- food input -->
    <input ng-model="uc.foodIn" class="foodInput" placeholder="food name" type="text">
    <br>
    <p class="expirationText">Days until expiration : </p>

    <!-- days input -->
    <input ng-model="uc.daysIn" class="daysInput" placeholder="# of days" type="text">
    <br>

    <!-- Add Food Button -->
    <md-button ng-click="uc.addFoodItem()" class="newFoodButton btn btn-default">Add New Food</md-button>
        <br>

        <!-- Log Out Button -->
        <md-button class="logOut btn btn-default" ng-click="uc.userService.logout()">Log Out</md-button>
        <br>
        <!-- Send Text Button -->
        <md-button class="sendTextBtn" ng-click="uc.sendText()">Send Text</md-button>


</div>